service: flask-redis-user-api

provider:
  name: aws
  runtime: python3.9
  stage: dev
  region: ap-south-1
  memorySize: 256
  timeout: 30
  environment:
    REDIS_HOST: my-redis-ov2sit.serverless.aps1.cache.amazonaws.com
    REDIS_PORT: 6379
    REDIS_DB: 0
    REDIS_TLS: "true"
  vpc:
    securityGroupIds:
      - sg-0df5f019f0236d0c9
    subnetIds:
      - subnet-0e6916e88036da7c4
      - subnet-042bad505a574c531

package:
  individually: true
# custom:
#   pythonRequirements:
#     dockerizePip: true
#     zip: true
#     slim: true

custom:
  pythonRequirements:
    dockerizePip: false

functions:
  app:
    handler: app.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY





